<div class="container mt-4 w-50">
    <h3>Login</h3>
  
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="isLoading" class="text-center my-3">
      <div class="spinner-border text-primary" role="status"></div>
    </div>
  
    <form (ngSubmit)="login()" *ngIf="!isLoading">
      <input class="form-control my-2" [(ngModel)]="user.email" name="email" placeholder="Email" required>
      <input class="form-control my-2" type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
      <button class="btn btn-primary mt-2">Login</button>
    </form>
  </div>